h1 {
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 50px;
}

.small {
	
}

.thumbnail {
	border: 4px solid black;
	/*display: inline;*/
/*	height: 180px;
	width: 134px;*/
}

button {

}