h1 {
	font-family: 'Merriweather', serif;

	font-weight: bold;
	font-size: 50px;
}

.thumbnail {
	border: 4px solid black;
	height: 160px;
	width: 119px;
}

.btn {
	margin-top: 10px;
	background: black;
	color: white;
	border: 2px solid black;
	font-size: 14px;
	font-family: 'Merriweather', serif;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-default {
    background: black;
    color: white;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: #33a6cc;
}
 
.btn-default:active, .btn-default.active {
    background: #007299;
    box-shadow: none;
}

p {
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	font-family: 'Merriweather', serif;
}

#playerTurn {
	text-align: center;
	height: 30px;
	font-size: 25px;
	font-family: 'Merriweather', serif;
	margin-bottom: 10px;
}

#finalScore {
	margin-top: 10px;
	font-size: 25px;
	font-family: 'Merriweather', serif;
}

.player {
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
	font-family: 'Mr Bedfort', cursive;
	font-size: 21px;
}

#playerOneScore {
	font-family: 'Mr Bedfort', cursive;
	font-size: 21px;
}


#playerTwoScore {
	font-family: 'Mr Bedfort', cursive;
	font-size: 21px;
}















